<!doctype html>
<html>
<head>
    <title>Let's discuss</title>
</head>
<body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="assets/js/socket.io.js"></script>
<ul id="messages"></ul>
<h1><%= user.local.email %></h1>

<form action="">
    <input id="m" autocomplete="off"/>
    <button>Send</button>
</form>
<script>
    var socket = io();
    $('form').submit(function () {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
    });
    socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(msg));
    });
</script>
</body>
</html>
